<% include ./partials/header %>
<div class="ui main text container segment">
    <img class="ui small circular image" src="/images/headshot.png">
    <p class="ui segment">Test</p>
</div>
<% include ./partials/footer %>